<html>
<head>
    <title>
       Your notes
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body{
            background-color: #EBF382;
            padding-top: 40px;
    }
        h1{
            text-align: center;
            font-family: "Wide Latin";
        }
        hr{
            border: 1px solid #ccc;
        }
        ul{
            font-size: medium;
            font-family: "MS Gothic";
        }

    </style>
</head>
<body>

<div id="root" class="container">
    <h1><b>NOTES</b></h1>
    <hr>
    <hr>
    <br>

    <input type="text" v-model="newnote" size="158" placeholder="Add your note......." @keyup.enter="addnote" >
    <br>
    <br>

 <ul class="list-group"><deletenote :title="note" v-for="(note, index) in notes" :key="note.id">

     <li id="input" class="list-group-item"
         v-text="(notes, index) in notes">
     </li>
 </deletenote></ul>


</div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>


</body>
</html>
